<div class="container text-style mt-4 text-center">
  <h1>Internal Server Error</h1>
  <p class="my-4">We are sorry for bad things happened :(</p>

  <a href="/" class="btn btn-primary mb-4">Back</a>
  <p>◢▆▅▄▃崩╰(〒皿〒)╯潰▃▄▅▇◣ </p>

</div>